sound {
	width: 12em;
	height: 10em;
	/* margin: 1em; */
	display: inline-block;
	border: 2px solid black;
	padding: 5px;
	box-shadow: 2px 2px 3px gray;
}

sound > img {
	width: 100%;
	height: calc(100% - 2em);
	position: relative;
	z-index: -1;
}

sound > audio {
	width: 100%;
}

sound[selected] {
	border-color: orange;
	color: red;
}

sound > audio {
	border: 1px solid transparent;
}
sound > audio[loop] {
	border: 1px solid red;
}


hotkey {
	background: white;
	color: black;
	font-family: monospace;
	display: inline-block;
	top: -100%;
	right: 0;
	z-index: 5;
	position: relative;
	padding: 2px;
}



details {
	width: 100%;
	background: white;
	position: fixed;
	left: 0;
	bottom: 0;
}

#info-container > * {
	width: calc(100% - 2*0.5em);
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-left-width: 2px;
	border-right-width: 2px;
}

iframe#info {
	resize: both;
}
iframe#info:focus {
	background-color: yellow;
}

#info_dragbar {
	height: 4px;
	background-color: darkred;
	border-left-style: solid;
	border-right-style: solid;
	cursor: row-resize;
}

#info_ghostbar {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 8px solid transparent;
}
